node_modules/
wallet/
/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
/asset-transfer-custom/application-custom/org1_ASS/node_modules/*
/asset-transfer-custom/application-custom/org2_HospA/node_modules/*
/asset-transfer-custom/application-custom/org3_HospB/node_modules/*
/asset-transfer-custom/application-custom/org4_LabA/node_modules/*
/asset-transfer-custom/application-custom/org5_LabB/node_modules/*
/asset-transfer-custom/application-custom/org1_ASS/wallet/*
/asset-transfer-custom/application-custom/org2_HospA/wallet/*
/asset-transfer-custom/application-custom/org3_HospB/wallet/*
/asset-transfer-custom/application-custom/org4_LabA/wallet/*
/asset-transfer-custom/application-custom/org5_LabB/wallet/*
/organizations/fabric-ca/ordererOrg/msp/keystore/*
/organizations/fabric-ca/org1/msp/keystore/*
organizations/fabric-ca/org2/msp/keystore/*
organizations/fabric-ca/org3/msp/keystore/*
organizations/fabric-ca/org4/msp/keystore/*
organizations/fabric-ca/org5/msp/keystore/*
*.pem
