<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/insert.css">
    <script type="text/javascript" src="/javascript/jquery-3.4.1.min.js"></script>
    <title>Insert</title>
</head>
<body>
    <div class="cont">
       <p class="heading"><strong>LAB B</strong></p>
    </div>
   
    <div class="filter-container">
        <div class="main-bar">
            <label for="search_bar"></label>
            <input type="text" name="search_bar" id="search_bar" placeholder="Search Patient ID" >
            <button id="search_button" class="search_button" onclick="get_patient()">Search &nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="container" id='cont'></div>
    <br><br> 
    
</body>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascript/insert.js"></script>

</html>
