<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/login.css">
	<title>Login</title>
</head>

<body>
   
	<div class="cont">
        <h1>Lab A</h1>
		<h2>Admin Login</h2><br>
		<table class="center">
			<tr>
				<td><label for="email_id">Username</label></td>
				<td><i class="fas fa-user"></i><input type="text" id="username" placeholder="Enter username"></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><i class="fas fa-key"></i><input type="password" id="pass" placeholder="Enter password"></td>
		</table>
		<p id="tc"></p><br>
		<button class="login" id="login" onclick="show()">Login</button>
	</div>
</body>
{{!-- <script src="/javascript/1admin_login.js"></script> --}}
</html>